<div class="col-sm-12 col-lg-4 mb-3">
  <div id="board-id-1">
    <div class="card">
      <% if board.board_image.present? %>
        <%= image_tag board.board_image.url %>
      <% else %>
        <%= image_tag '/assets/default.png' %>
      <% end %>
      <div class="card-body">
        <h4 class="card-title">
          <%= link_to board_path(board) do %>
            <%= board.title %>
          <% end %>
        </h4>
        <p class="card-text"><%= board.body %></p>

        <%= render 'crud', board: board %>

      </div>
    </div>
  </div>
</div>
