<div class="l-wrapper_01">
  <article class="card_01">
    <div class="card__header_01">
      <figure class="card__thumbnail_01">
        <% if board.board_image.present? %>
          <%= image_tag board.board_image.url, class: 'trimming' %>
        <% else %>
          <%= image_tag '/assets/default.png', size: '300x200' %>
        <% end %>
      </figure>
      <div class="mb30">
        <h4 class="card__title_01">
          <%= link_to board_path(board) do %>
            <%= board.title %>
          <% end %>
        </h4>
        <div class="card__body_01">
          <p class="card__text2_01"><%= board.body %></p>
          <div class="mr">
            <p><i class="fas fa-bookmark mr6"></i> 得票数：<%= Like.where(board_id: board.id).count %></p>
            <p><i class="fas fa-comment"></i> コメント数：<%= Comment.where(board_id: board.id).count %></p>
          </div>
        </div>


        <div class="card__body_01 center">
          <%# ここに入れてみる %>

          <% if current_user.own?(board) %>
            <%= render 'crud', board: board %>
          <% else %>
            <%= render 'likes/like_button', board: board %>
          <% end %>

          <%# ここに入れてみる %>
        </div>
      </div>
    </div>



  </article>
</div>
