<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <h1 class="show_h1">第 <span class="show_rank"><%= @boards.index(@board) + 1 %></span> 位</h1>
      <!-- 作品内容 -->
      <%# ここに入れる %>

<div class="l-wrapper_01">
  <article class="card_01">
    <div class="card__header_01">
      <figure class="card__thumbnail_01">
        <% if @board.board_image.present? %>
          <%= image_tag @board.board_image.url, class: 'trimming' %>
        <% else %>
          <%= image_tag '/assets/default.png', class: 'trimming' %>
        <% end %>
      </figure>
      <div>
        <h4 class="card__title_01">
          <%= @board.title %>
        </h4>
        <div class="card__body_01">
          <p class="card__text2_01"><%= @board.body %></p>
        </div>
        <div class="card__body_01">
          <p><i class="fas fa-bookmark mr6"></i> 得票数：<%= Like.where(board_id: @board.id).count %></p>
          <p><i class="fas fa-comment"></i> コメント数：<%= Comment.where(board_id: @board.id).count %></p>
        </div>

      </div>
    </div>


    <div class="card__footer_01">
      <div class="card__text_01">
        <% if current_user.own?(@board) %>
          <%= render 'crud', board: @board %>
        <% else %>
          <%= render 'likes/like_button', board: @board %>
        <% end %>
      </div>
    </div>

  </article>
</div>


      <%# ここに入れる %>
    </div>
  </div>

  <!-- コメントフォーム -->
  <%= render 'comments/form' %>

  <!-- コメントエリア -->
  <%= render 'comments/comments', comments: @comments %>

</div>